In [1]:
import pandas as pd

In [2]:
import redis as rd

In [3]:
D = pd.read_csv("https://raw.githubusercontent.com/junaart/ForStudents/refs/heads/main/R/Lesson_4/iris.csv")

In [4]:
display(D)

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [13]:
float(D.iloc[1,1]+75)

79.9

In [19]:
len(D['Sepal.Length'])

150

In [28]:
str(D['Sepal.Length'].iloc[144])

'6.7'

In [26]:
r.set("y","6")

True

In [34]:
r=rd.Redis(host='localhost', db=0)
key = "my_key"
for i in range(len(D['Sepal.Length'])):
    r.set(key+str(i),str(D['Sepal.Length'].iloc[i]))

In [ ]:
#При необходимости запустить в консоле pip3 install openpyxl
S = pd.read_excel("https://github.com/junaart/ForStudents/raw/refs/heads/main/R/Zachet/DataSets/2.xlsx")
display(S)

,town1,Avg-Avg-К9,Avg-Avg-К101,Avg-Avg-К102,Avg-Avg-К11,Avg-Avg-К121,Avg-Avg-К122
0,Абакан,703.500000,94.250000,0.750000,6.750000,5.250000,1.250000
1,Азовский район,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Аксайский район,6.250000,8.000000,0.000000,1.500000,1.500000,0.250000
3,Алексеевкий район,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Анапа,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...
276,Южно-Сахалинск,62.450000,12.450000,0.000000,0.450000,0.850000,0.200000
277,Якутск,67.400000,27.650000,0.366667,2.750000,2.250000,0.550000
278,Ялта,0.000000,2.666667,0.000000,0.500000,0.833333,0.166667
279,Ярославль,299.404762,62.500000,1.000000,5.964286,7.107143,1.535714
280,Ярославский район,7.333333,5.000000,0.666667,1.666667,0.333333,0.000000

## Последовательность команд для синхронизации с репозиторием

1. git add .
2. git commit -m "содержание изменений"
3. git push

## Залить из репозитория в среду

1. git pull

# Порядок действий

In [37]:
import pandas as pd
import redis as rd

S = pd.read_excel("https://github.com/junaart/ForStudents/raw/refs/heads/main/R/Zachet/DataSets/2.xlsx")
display(S)

,town1,Avg-Avg-К9,Avg-Avg-К101,Avg-Avg-К102,Avg-Avg-К11,Avg-Avg-К121,Avg-Avg-К122
0,Абакан,703.500000,94.250000,0.750000,6.750000,5.250000,1.250000
1,Азовский район,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Аксайский район,6.250000,8.000000,0.000000,1.500000,1.500000,0.250000
3,Алексеевкий район,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Анапа,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...
276,Южно-Сахалинск,62.450000,12.450000,0.000000,0.450000,0.850000,0.200000
277,Якутск,67.400000,27.650000,0.366667,2.750000,2.250000,0.550000
278,Ялта,0.000000,2.666667,0.000000,0.500000,0.833333,0.166667
279,Ярославль,299.404762,62.500000,1.000000,5.964286,7.107143,1.535714
280,Ярославский район,7.333333,5.000000,0.666667,1.666667,0.333333,0.000000

In [40]:
D = pd.read_csv("https://raw.githubusercontent.com/junaart/ForStudents/refs/heads/main/R/Zachet/DataSets/10.csv",sep=";")
display(D)

,okato,Субсидии на ГЗ из местных бюджетов,Субсидии на ГЗ из федерального бюджета,Субсидии на НИОКР из местного бюджета,Субсидии на НИОКР из федерального бюджета,Гранты из местного бюджета,Гранты из федерального бюджета,Гранты из прочих источников,Конкурсное финансирование из местного бюджета,Конкурсное финансирование из федерального бюджета,Конкурсное финансирование из прочих источников
0,1000000000,"4853,7","151428,9",0,"111490,7",4771,"38493,3",0,"3848,8","135930,7",7494
1,3000000000,4986,473810,"1986,2","83328,5",69321,18770,0,"10339,3",2399,"45896,8"
2,4000000000,0,"789836,7","4483,9","367127,5","26258,8","208412,7",0,"6116,6",135887,"81352,6"
3,5000000000,20,"2609402,1","23246,1","202671,1","16971,6","120107,1",0,"260,8","25615,4","434937,3"
4,7000000000,"16107,2","164127,2","1803,5","23146,1",200,"17333,9",0,900,1200,"11334,8"
...,...,...,...,...,...,...,...,...,...,...,...
77,94000000000,"17637,2","154377,8",0,"14343,5",0,"705,1",0,"1561,4",1158,"23897,1"
78,95000000000,26919,"2584,1",0,1200,"1613,9","7274,9",0,"1791,3",0,0
79,96000000000,0,"1994,2",0,0,445,1878,0,0,0,0
80,97000000000,0,"4670,7",0,"31575,9","318,9","18221,5",0,0,"201861,7","3179,4"
81,98000000000,218723,"1245978,4","59454,5","86745,9",0,"48324,4",0,"20364,9",0,"5648,3"