In [1]:
import pandas as pd

In [2]:
import redis as rd

In [3]:
D = pd.read_csv("https://raw.githubusercontent.com/junaart/ForStudents/refs/heads/main/R/Lesson_4/iris.csv")

In [4]:
display(D)

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [13]:
float(D.iloc[1,1]+75)

79.9

In [19]:
len(D['Sepal.Length'])

150

In [28]:
str(D['Sepal.Length'].iloc[144])

'6.7'

In [26]:
r.set("y","6")

True

In [34]:
r=rd.Redis(host='localhost', db=0)
key = "my_key"
for i in range(len(D['Sepal.Length'])):
    r.set(key+str(i),str(D['Sepal.Length'].iloc[i]))

In [ ]:
#При необходимости запустить в консоле pip3 install openpyxl
S = pd.read_excel("https://github.com/junaart/ForStudents/raw/refs/heads/main/R/Zachet/DataSets/2.xlsx")
display(S)

,town1,Avg-Avg-К9,Avg-Avg-К101,Avg-Avg-К102,Avg-Avg-К11,Avg-Avg-К121,Avg-Avg-К122
0,Абакан,703.500000,94.250000,0.750000,6.750000,5.250000,1.250000
1,Азовский район,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Аксайский район,6.250000,8.000000,0.000000,1.500000,1.500000,0.250000
3,Алексеевкий район,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Анапа,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...
276,Южно-Сахалинск,62.450000,12.450000,0.000000,0.450000,0.850000,0.200000
277,Якутск,67.400000,27.650000,0.366667,2.750000,2.250000,0.550000
278,Ялта,0.000000,2.666667,0.000000,0.500000,0.833333,0.166667
279,Ярославль,299.404762,62.500000,1.000000,5.964286,7.107143,1.535714
280,Ярославский район,7.333333,5.000000,0.666667,1.666667,0.333333,0.000000

## Последовательность команд для синхронизации с репозиторием

1. git add .
2. git commit -m "содержание изменений"
3. git push

## Залить из репозитория в среду

1. git pull