# Устанавливаем библиотеку (в командной строке)
> pip3 install redis
# Подключаю библиотеку (в ipynb)
import redis

In [28]:
import redis as rd

In [ ]:
#Подключаемся к серверу
r=rd.Redis(host='localhost', db=2)

In [ ]:
int(r.get("a"))

785

In [ ]:
r.set("a", '666')

True

In [ ]:
r.keys()

[b'a', b'c', b'd', b'b']

In [ ]:
r.rpush("g",1)

1

In [ ]:
r.lrange("g", 0, -1)

[b'1']

In [ ]:
r.lpush("g",2,4,5,6)

5

In [ ]:
r.lrange("g",0,-1)

[b'6', b'5', b'4', b'2', b'1']

In [2]:
import pandas as pd

In [3]:
D = pd.read_csv("https://github.com/junaart/ForStudents/raw/refs/heads/main/R/Lesson_2/demo.csv",sep=";")
display(D)

,Год,1990,1995,2000,2001,2002,2003,2004,2005,2006,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Все население,69.19,64.52,65.34,65.23,64.95,64.84,65.31,65.37,66.69,...,68.94,69.831495,70.24,70.76,70.93,71.39,71.87,72.70,72.91,73.34
1,Все мужчины,63.73,58.12,59.03,58.92,58.68,58.53,58.91,58.92,60.43,...,63.09,64.039883,64.56,65.13,65.29,65.92,66.50,67.51,67.75,68.24
2,Все женщины,74.30,71.59,72.26,72.17,71.90,71.85,72.36,72.47,73.34,...,74.88,75.605552,75.86,76.30,76.47,76.71,77.06,77.64,77.82,78.17
3,Все городское население,69.55,64.70,65.69,65.57,65.40,65.36,65.87,66.10,67.43,...,69.69,70.509150,70.83,71.33,71.44,71.91,72.35,73.16,73.34,73.72
4,Все городское население мужчины,64.31,58.30,59.35,59.23,59.09,59.01,59.42,59.58,61.12,...,63.82,64.668980,65.10,65.64,65.75,66.38,66.91,67.90,68.11,68.56
5,Все городское население женщины,74.34,71.64,72.46,72.37,72.18,72.20,72.73,72.99,73.88,...,75.39,76.103459,76.27,76.70,76.83,77.09,77.38,77.96,78.09,78.41
6,Все сельское население,67.97,63.99,64.34,64.25,63.68,63.34,63.77,63.45,64.74,...,66.92,67.994370,68.61,69.18,69.49,69.90,70.50,71.38,71.67,72.21
7,Все сельское население мужчины,62.03,57.64,58.14,58.07,57.54,57.20,57.56,57.22,58.69,...,61.19,62.399606,63.12,63.75,64.07,64.67,65.36,66.43,66.75,67.36
8,Все сельское население женщины,73.95,71.40,71.66,71.57,71.09,70.81,71.27,71.06,71.86,...,73.42,74.208291,74.66,75.13,75.43,75.59,76.07,76.66,76.93,77.39

 pip3 install openpyxl

In [4]:
S = pd.read_excel("https://github.com/junaart/ForStudents/raw/refs/heads/main/R/Lesson_2/demo.xlsx")
display(S)

,Год,1990,1995,2000,2001,2002,2003,2004,2005,2006,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Все население,69.19,64.52,65.34,65.23,64.95,64.84,65.31,65.37,66.69,...,68.94,69.831495,70.24,70.76,70.93,71.39,71.87,72.70,72.91,73.34
1,Все мужчины,63.73,58.12,59.03,58.92,58.68,58.53,58.91,58.92,60.43,...,63.09,64.039883,64.56,65.13,65.29,65.92,66.50,67.51,67.75,68.24
2,Все женщины,74.30,71.59,72.26,72.17,71.90,71.85,72.36,72.47,73.34,...,74.88,75.605552,75.86,76.30,76.47,76.71,77.06,77.64,77.82,78.17
3,Все городское население,69.55,64.70,65.69,65.57,65.40,65.36,65.87,66.10,67.43,...,69.69,70.509150,70.83,71.33,71.44,71.91,72.35,73.16,73.34,73.72
4,Все городское население мужчины,64.31,58.30,59.35,59.23,59.09,59.01,59.42,59.58,61.12,...,63.82,64.668980,65.10,65.64,65.75,66.38,66.91,67.90,68.11,68.56
5,Все городское население женщины,74.34,71.64,72.46,72.37,72.18,72.20,72.73,72.99,73.88,...,75.39,76.103459,76.27,76.70,76.83,77.09,77.38,77.96,78.09,78.41
6,Все сельское население,67.97,63.99,64.34,64.25,63.68,63.34,63.77,63.45,64.74,...,66.92,67.994370,68.61,69.18,69.49,69.90,70.50,71.38,71.67,72.21
7,Все сельское население мужчины,62.03,57.64,58.14,58.07,57.54,57.20,57.56,57.22,58.69,...,61.19,62.399606,63.12,63.75,64.07,64.67,65.36,66.43,66.75,67.36
8,Все сельское население женщины,73.95,71.40,71.66,71.57,71.09,70.81,71.27,71.06,71.86,...,73.42,74.208291,74.66,75.13,75.43,75.59,76.07,76.66,76.93,77.39

In [8]:
D["1990"]

0    69.19
1    63.73
2    74.30
3    69.55
4    64.31
5    74.34
6    67.97
7    62.03
8    73.95
Name: 1990, dtype: float64

In [ ]:
#Выбираем из столбца 1990 первый элемент
str(D["1990"][0])

'69.19'

In [15]:
#Выбираем элемент 1 строки и первого столбца
D.iloc[0,0]

'Все население'

In [19]:
#Выбираем весь первый столбец
D.iloc[:,0]

0                      Все население
1                        Все мужчины
2                        Все женщины
3            Все городское население
4    Все городское население мужчины
5    Все городское население женщины
6             Все сельское население
7     Все сельское население мужчины
8     Все сельское население женщины
Name: Год, dtype: object

In [20]:
#Выбираем все столбцы первой строки
D.iloc[0,]

Год     Все население
1990            69.19
1995            64.52
2000            65.34
2001            65.23
2002            64.95
2003            64.84
2004            65.31
2005            65.37
2006            66.69
2007            67.61
2008            67.99
2009            68.78
2010            68.94
2011        69.831495
2012            70.24
2013            70.76
2014            70.93
2015            71.39
2016            71.87
2017             72.7
2018            72.91
2019            73.34
Name: 0, dtype: object

In [30]:
r=rd.Redis() 
key = "my"
for i in range(len(D["1990"])):
    r.set(key+str(i),str(D["1990"].iloc[i]))

In [31]:
r.get("my0")

b'69.19'